@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #87e990;
    overflow: hidden;
}

.background span {
    width: 3vmin;
    height: 3vmin;
    border-radius: 3vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 29;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #1fa055;
    top: 98%;
    left: 53%;
    animation-duration: 48s;
    animation-delay: -210s;
    transform-origin: -9vw 5vh;
    box-shadow: -6vmin 0 1.5406563360132715vmin currentColor;
}
.background span:nth-child(1) {
    color: #1fa055;
    top: 5%;
    left: 2%;
    animation-duration: 65s;
    animation-delay: -195s;
    transform-origin: 23vw 2vh;
    box-shadow: -6vmin 0 1.7365695887477224vmin currentColor;
}
.background span:nth-child(2) {
    color: #fefefe;
    top: 67%;
    left: 90%;
    animation-duration: 49s;
    animation-delay: -56s;
    transform-origin: 17vw 3vh;
    box-shadow: 6vmin 0 1.025861394293873vmin currentColor;
}
.background span:nth-child(3) {
    color: #fefefe;
    top: 26%;
    left: 49%;
    animation-duration: 170s;
    animation-delay: -71s;
    transform-origin: 21vw -15vh;
    box-shadow: -6vmin 0 0.8617444958385572vmin currentColor;
}
.background span:nth-child(4) {
    color: #fefefe;
    top: 61%;
    left: 28%;
    animation-duration: 7s;
    animation-delay: -24s;
    transform-origin: 14vw 4vh;
    box-shadow: 6vmin 0 0.8084743444864522vmin currentColor;
}
.background span:nth-child(5) {
    color: #fefefe;
    top: 50%;
    left: 4%;
    animation-duration: 162s;
    animation-delay: -13s;
    transform-origin: -6vw 7vh;
    box-shadow: 6vmin 0 1.157256563890191vmin currentColor;
}
.background span:nth-child(6) {
    color: #febfd2;
    top: 39%;
    left: 8%;
    animation-duration: 151s;
    animation-delay: -113s;
    transform-origin: -17vw -13vh;
    box-shadow: -6vmin 0 1.462387521474524vmin currentColor;
}
.background span:nth-child(7) {
    color: #febfd2;
    top: 73%;
    left: 21%;
    animation-duration: 80s;
    animation-delay: -9s;
    transform-origin: 23vw 20vh;
    box-shadow: 6vmin 0 0.8906475533033051vmin currentColor;
}
.background span:nth-child(8) {
    color: #fefefe;
    top: 39%;
    left: 18%;
    animation-duration: 175s;
    animation-delay: -193s;
    transform-origin: 15vw -13vh;
    box-shadow: -6vmin 0 1.453243645255833vmin currentColor;
}
.background span:nth-child(9) {
    color: #fefefe;
    top: 10%;
    left: 31%;
    animation-duration: 129s;
    animation-delay: -19s;
    transform-origin: 24vw 18vh;
    box-shadow: 6vmin 0 1.3098668613949134vmin currentColor;
}
.background span:nth-child(10) {
    color: #fefefe;
    top: 35%;
    left: 5%;
    animation-duration: 37s;
    animation-delay: -111s;
    transform-origin: 15vw 7vh;
    box-shadow: -6vmin 0 0.7585806145613838vmin currentColor;
}
.background span:nth-child(11) {
    color: #1fa055;
    top: 61%;
    left: 91%;
    animation-duration: 85s;
    animation-delay: -146s;
    transform-origin: -4vw 25vh;
    box-shadow: -6vmin 0 1.2117243873188388vmin currentColor;
}
.background span:nth-child(12) {
    color: #1fa055;
    top: 100%;
    left: 96%;
    animation-duration: 67s;
    animation-delay: -111s;
    transform-origin: -10vw 13vh;
    box-shadow: -6vmin 0 0.7830553662120618vmin currentColor;
}
.background span:nth-child(13) {
    color: #fefefe;
    top: 46%;
    left: 99%;
    animation-duration: 125s;
    animation-delay: -6s;
    transform-origin: -15vw 10vh;
    box-shadow: -6vmin 0 1.2007625029128388vmin currentColor;
}
.background span:nth-child(14) {
    color: #fefefe;
    top: 45%;
    left: 2%;
    animation-duration: 113s;
    animation-delay: -92s;
    transform-origin: -3vw -4vh;
    box-shadow: 6vmin 0 1.426911789015003vmin currentColor;
}
.background span:nth-child(15) {
    color: #fefefe;
    top: 34%;
    left: 39%;
    animation-duration: 169s;
    animation-delay: -105s;
    transform-origin: -6vw 14vh;
    box-shadow: 6vmin 0 1.40893652622253vmin currentColor;
}
.background span:nth-child(16) {
    color: #fefefe;
    top: 66%;
    left: 23%;
    animation-duration: 69s;
    animation-delay: -50s;
    transform-origin: 23vw -14vh;
    box-shadow: 6vmin 0 1.6902294403361888vmin currentColor;
}
.background span:nth-child(17) {
    color: #fefefe;
    top: 58%;
    left: 73%;
    animation-duration: 146s;
    animation-delay: -1s;
    transform-origin: -7vw 0vh;
    box-shadow: 6vmin 0 1.364733424366706vmin currentColor;
}
.background span:nth-child(18) {
    color: #1fa055;
    top: 28%;
    left: 79%;
    animation-duration: 79s;
    animation-delay: -48s;
    transform-origin: 17vw 7vh;
    box-shadow: 6vmin 0 1.3922791377140737vmin currentColor;
}
.background span:nth-child(19) {
    color: #1fa055;
    top: 22%;
    left: 42%;
    animation-duration: 8s;
    animation-delay: -3s;
    transform-origin: 24vw 11vh;
    box-shadow: -6vmin 0 0.8599363968836302vmin currentColor;
}
.background span:nth-child(20) {
    color: #1fa055;
    top: 51%;
    left: 96%;
    animation-duration: 29s;
    animation-delay: -34s;
    transform-origin: 20vw -20vh;
    box-shadow: 6vmin 0 1.560991673182768vmin currentColor;
}
.background span:nth-child(21) {
    color: #1fa055;
    top: 42%;
    left: 56%;
    animation-duration: 210s;
    animation-delay: -165s;
    transform-origin: -8vw 10vh;
    box-shadow: -6vmin 0 1.2431377915801909vmin currentColor;
}
.background span:nth-child(22) {
    color: #fefefe;
    top: 79%;
    left: 33%;
    animation-duration: 67s;
    animation-delay: -88s;
    transform-origin: -13vw 22vh;
    box-shadow: 6vmin 0 0.7613912616070426vmin currentColor;
}
.background span:nth-child(23) {
    color: #febfd2;
    top: 14%;
    left: 84%;
    animation-duration: 193s;
    animation-delay: -147s;
    transform-origin: 13vw 7vh;
    box-shadow: 6vmin 0 1.6083021136622755vmin currentColor;
}
.background span:nth-child(24) {
    color: #fefefe;
    top: 13%;
    left: 10%;
    animation-duration: 33s;
    animation-delay: -43s;
    transform-origin: 23vw 25vh;
    box-shadow: 6vmin 0 1.1706291916909712vmin currentColor;
}
.background span:nth-child(25) {
    color: #fefefe;
    top: 10%;
    left: 9%;
    animation-duration: 69s;
    animation-delay: -81s;
    transform-origin: -9vw 2vh;
    box-shadow: -6vmin 0 1.569753769740676vmin currentColor;
}
.background span:nth-child(26) {
    color: #febfd2;
    top: 3%;
    left: 94%;
    animation-duration: 189s;
    animation-delay: -32s;
    transform-origin: 21vw 21vh;
    box-shadow: 6vmin 0 0.9980296136747202vmin currentColor;
}
.background span:nth-child(27) {
    color: #fefefe;
    top: 16%;
    left: 42%;
    animation-duration: 24s;
    animation-delay: -84s;
    transform-origin: 21vw 16vh;
    box-shadow: 6vmin 0 1.3846922614908772vmin currentColor;
}
.background span:nth-child(28) {
    color: #1fa055;
    top: 73%;
    left: 31%;
    animation-duration: 132s;
    animation-delay: -74s;
    transform-origin: 18vw 7vh;
    box-shadow: -6vmin 0 1.3959330184215313vmin currentColor;
}
.background span:nth-child(29) {
    color: #fefefe;
    top: 37%;
    left: 54%;
    animation-duration: 37s;
    animation-delay: -93s;
    transform-origin: -2vw 9vh;
    box-shadow: -6vmin 0 1.0318477851430634vmin currentColor;
}
.background span:nth-child(30) {
    color: #fefefe;
    top: 80%;
    left: 69%;
    animation-duration: 170s;
    animation-delay: -32s;
    transform-origin: -23vw 5vh;
    box-shadow: 6vmin 0 1.1297693186956725vmin currentColor;
}
.background span:nth-child(31) {
    color: #fefefe;
    top: 67%;
    left: 21%;
    animation-duration: 120s;
    animation-delay: -116s;
    transform-origin: 15vw -6vh;
    box-shadow: 6vmin 0 0.9246853281668626vmin currentColor;
}
.background span:nth-child(32) {
    color: #fefefe;
    top: 95%;
    left: 97%;
    animation-duration: 183s;
    animation-delay: -67s;
    transform-origin: -4vw -10vh;
    box-shadow: -6vmin 0 0.9933562377061145vmin currentColor;
}
.background span:nth-child(33) {
    color: #1fa055;
    top: 84%;
    left: 26%;
    animation-duration: 29s;
    animation-delay: -140s;
    transform-origin: 9vw -22vh;
    box-shadow: 6vmin 0 1.1608483538382004vmin currentColor;
}
.background span:nth-child(34) {
    color: #fefefe;
    top: 40%;
    left: 80%;
    animation-duration: 131s;
    animation-delay: -139s;
    transform-origin: -11vw 2vh;
    box-shadow: 6vmin 0 1.6715709169695636vmin currentColor;
}
.background span:nth-child(35) {
    color: #1fa055;
    top: 31%;
    left: 23%;
    animation-duration: 118s;
    animation-delay: -121s;
    transform-origin: 18vw 22vh;
    box-shadow: -6vmin 0 0.9755358720687222vmin currentColor;
}
.background span:nth-child(36) {
    color: #fefefe;
    top: 82%;
    left: 45%;
    animation-duration: 128s;
    animation-delay: -46s;
    transform-origin: 6vw -17vh;
    box-shadow: -6vmin 0 0.7645622193025909vmin currentColor;
}
.background span:nth-child(37) {
    color: #fefefe;
    top: 22%;
    left: 82%;
    animation-duration: 177s;
    animation-delay: -115s;
    transform-origin: 22vw -4vh;
    box-shadow: 6vmin 0 1.125387897155248vmin currentColor;
}
.background span:nth-child(38) {
    color: #febfd2;
    top: 75%;
    left: 55%;
    animation-duration: 29s;
    animation-delay: -48s;
    transform-origin: -14vw 5vh;
    box-shadow: -6vmin 0 1.3377411632066936vmin currentColor;
}
.background span:nth-child(39) {
    color: #1fa055;
    top: 98%;
    left: 20%;
    animation-duration: 214s;
    animation-delay: -210s;
    transform-origin: -17vw 19vh;
    box-shadow: 6vmin 0 1.078805408030076vmin currentColor;
}
.background span:nth-child(40) {
    color: #1fa055;
    top: 33%;
    left: 62%;
    animation-duration: 34s;
    animation-delay: -170s;
    transform-origin: 15vw 18vh;
    box-shadow: -6vmin 0 1.0632975932804374vmin currentColor;
}
.background span:nth-child(41) {
    color: #1fa055;
    top: 71%;
    left: 48%;
    animation-duration: 45s;
    animation-delay: -50s;
    transform-origin: 1vw 13vh;
    box-shadow: -6vmin 0 0.7941673026638569vmin currentColor;
}
.background span:nth-child(42) {
    color: #1fa055;
    top: 9%;
    left: 27%;
    animation-duration: 188s;
    animation-delay: -34s;
    transform-origin: -3vw 25vh;
    box-shadow: -6vmin 0 1.6337755253448667vmin currentColor;
}
.background span:nth-child(43) {
    color: #febfd2;
    top: 82%;
    left: 11%;
    animation-duration: 196s;
    animation-delay: -92s;
    transform-origin: 19vw 1vh;
    box-shadow: -6vmin 0 1.5408482054825634vmin currentColor;
}
.background span:nth-child(44) {
    color: #febfd2;
    top: 35%;
    left: 87%;
    animation-duration: 173s;
    animation-delay: -97s;
    transform-origin: -22vw 6vh;
    box-shadow: 6vmin 0 1.2830016729875098vmin currentColor;
}
.background span:nth-child(45) {
    color: #1fa055;
    top: 33%;
    left: 44%;
    animation-duration: 190s;
    animation-delay: -152s;
    transform-origin: 3vw 11vh;
    box-shadow: -6vmin 0 1.0909697306507087vmin currentColor;
}
.background span:nth-child(46) {
    color: #fefefe;
    top: 85%;
    left: 8%;
    animation-duration: 72s;
    animation-delay: -191s;
    transform-origin: 22vw -15vh;
    box-shadow: 6vmin 0 1.5946013941530262vmin currentColor;
}
.background span:nth-child(47) {
    color: #fefefe;
    top: 51%;
    left: 5%;
    animation-duration: 170s;
    animation-delay: -87s;
    transform-origin: -9vw 6vh;
    box-shadow: 6vmin 0 1.5231945249293815vmin currentColor;
}
.background span:nth-child(48) {
    color: #1fa055;
    top: 15%;
    left: 46%;
    animation-duration: 75s;
    animation-delay: -160s;
    transform-origin: -5vw -17vh;
    box-shadow: 6vmin 0 0.9232889931716208vmin currentColor;
}
.background span:nth-child(49) {
    color: #febfd2;
    top: 67%;
    left: 10%;
    animation-duration: 119s;
    animation-delay: -51s;
    transform-origin: -17vw -19vh;
    box-shadow: -6vmin 0 1.4429703402124374vmin currentColor;
}
